/*  your css code here. If applicable */
.main-container{
	background-color:#f5f5f5;
	padding:10px;
}
h2{
	padding:10px;
}

.testimonial{
	padding:10px;
	border:1px solid #f5f5f5;
	background-color:white;
	margin:10px;
}

.author{
	text-align:right;
	font-style:italic;
}

