/*  your css code here. If applicable */
.main-container{
	background-color: #f5f5f5;
    padding: 50px 20px;
    
} 
h2{
	font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
}

.testimonial{
	 background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px 25px;
  margin-bottom: 20px;
}

.author{
	text-align:right;
	font-style:italic;
	color:#000;
}
.text {
  font-size: 16px;
  color: #000;
  
}


